<!--Card-->
<div class="card">

  <!--Card image-->
  <div class="view overlay hm-white-slight">
    <!--<img src="{{ img_teaser }}" class="img-fluid" alt="">-->
    <div class="view_teaser_card_img" [style.background-image]="returnStyleUrl()" ></div>
    <a href="{{ article_href }}">
      <div class="mask"></div>
    </a>
  </div>
  <!--/.Card image-->

  <!--Button-->
  <a href="{{ article_href }}" class="btn-floating btn-action"><i class="fa fa-chevron-right"></i></a>

  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title">{{teaser_title}}</h4>
    <hr>
    <!--Text-->
    <p class="card-text"> {{ teaser_text }}</p>
  </div>
  <!--/.Card content-->

  <!-- Card footer -->
  <a class="card-data-wrapper" href="{{ article_href }}">
    <div class="card-data">
      <ul>
        <li><i class="fa fa-clock-o"></i> {{ created | date: 'dd/MM/yyyy'}}</li>
        <!--<li><a href="#"><i class="fa fa-comments-o"></i>12</a></li>-->
        <!--<li><a href="#"><i class="fa fa-facebook"> </i>21</a></li>-->
        <!--<li><a href="#"><i class="fa fa-twitter"> </i>5</a></li>-->
      </ul>
    </div>
  </a>

  <!-- Card footer -->

</div>
<!--/.Card-->
