
<div class="panel mt-2 mb-2 image_uploader">
  <div class="form-group col-md-12">
    <div class="form-group row">
      <input type="file" multiple (change)="fileChangeEvent($event)" placeholder="Upload file..." />
      <input type="submit" (click)="upload()"  placeholder="upload">
    </div>
  </div>
  <div class="form-group col-md-12 image_preview">

      <div *ngFor="let result of results" class="row   align-items-center image_preview_item p-1 mb-2">

        <div class="col-md-4">
          <img class=" img-fluid item_image" [src]="result.thumbnailPath | safeUrl" alt="">
        </div>
        <div class="col-md-8">
            <div class="row">
              <div class="col-md-10"> {{ result.imagePath }} </div>
              <button class="col-md-2" type="button" (click)="removeImage(result.imagePath)" class="btn btn-danger">Remove</button>
            </div>
          </div>
      </div>
    </div>

</div>
