  <!--Card-->
  <div class="card testimonial-card">

    <!--Background color-->
    <div class="card-up lighten-2 custom-bg">
    </div>

    <!--Avatar-->
    <div class="avatar"><img src="assets/img/edo.jpg" class="rounded-circle img-responsive">
    </div>

    <div class="card-body text-center">
      <!--Name-->
      <h4 class=" card-title mt-1">Егор Дойников</h4>
      <hr>
      <!--Quotation-->
      <p><i class="fa fa-cogs" aria-hidden="true"></i><br> Fullstack Javascript/Php <br> веб-разработчик. </p>
      <a [routerLink]="['/about']" class="btn btn-md bg-universe " >Узнать подробнее</a>
    </div>

  </div>
  <!--Card-->
