<div class="container mt-9">
  <h1 class="pt-4 pb-2">Frontend/Backend Developer</h1>
  <article>
    <div class="row  ">

        <div class="col-md-3 col-lg-2">
          <img src="assets/img/edo.jpg" class="img-responsive">
        </div>

        <div class="col-md-9 col-lg-10 row">
          <div class=" col-md-4 pt-1">
            <h2>Егор Дойников</h2>
          </div>
          <div class=" col-md-8">
            <a href="https://github.com/e-d0"  class="btn-floating bg-universe accent-1 waves-effect waves-light"><i class="fa fa-github"></i></a>
            <a href="https://vk.com/egordoynikov" class="btn-floating bg-universe accent-1 waves-effect waves-light"><i class="fa fa-vk"></i></a>
            <a href="https://www.facebook.com/EgorDoynikov" class="btn-floating bg-universe accent-1 waves-effect waves-light"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="col-md-12 mt-1">
            <p>   Веб-разработкой занимаюсь с 2016 года.<br>
              По образованию - менеджер-экономист, по призванию - программист. Программированию учился самостоятельно.<br>
              Обожаю программирование, как процесс, и постоянно пополняю свой арсенал навыков и знаний в этой области. <br>
              Иногда делюсь знаниями и перевожу материал для этого блога. <br>
              Работал над различными проектами - от лэндингов до внутрекорпаративных веб-сервисов. Вот список инструментов, с которыми я успел поработать
              в личных или коммерческих проектах: </p>
          </div>
        </div>
        <div class="col-md-12">
          <div class="row align-content-center skills">
            <ul class="col-sm-12 col-lg-4">
              <h4>Frontend:</h4>
              <li>Javascript , ANGULAR 2+</li>
              <li>HTML, CSS, SCSS, WEBPACK </li>
              <li>Адаптивная верстка, Bootstrap </li>
            </ul>

            <ul class="col-sm-12 col-lg-4">
              <h4>Backend:</h4>
              <li>Javascript: Node.js, Express. </li>
              <li>PHP: CMS Drupal 8, Symfony 3+. </li>
              <li>Docker</li>
            </ul>

            <ul class="col-sm-12 col-lg-4">
              <h4>Базы данных:</h4>
              <li> MySQL </li>
              <li> MongoDB </li>
              <li> DynamoDB </li>
            </ul>
        </div>
      </div>


    </div>



  <div class="row">
    <div class="col-md-12 text-md-left text-lg-center mt-2 contacts">
      <ul>
        <h4>Контакты</h4>
        <li><i class="fa fa-globe"></i> Вологда,Российская Федерация. </li>
        <li><i class="fa fa-phone"></i> Телефон: <img src="assets/img/phone.jpg" alt=""> </li>
        <li><i class="fa fa-envelope-o"></i> Email: <img src="assets/img/mail.jpg" alt=""></li>
        <li><i class="fa fa-github"></i> <a href="https://github.com/e-d0">Github: e-d0</a></li>
        <li><i class="fa fa-vk"></i> <a href="https://vk.com/egordoynikov">Вконтакте: Егор Дойников</a></li>
        <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/EgorDoynikov">Facebook: Егор Дойников</a></li>

      </ul>
    </div>
  </div>

  </article>
</div>
